{% extends 'base.html' %}
{% load static %}


{% block content %}


<section class="section-content padding-y bg">
    <div class="container">

    <!-- ============================ COMPONENT 1 ================================= -->
    {% if not favorite_items %}
      <h2 class="text-center">No tienes Favoritos</h2>
      <br>
      <div class="text-center">
        <a href="{% url 'store' %}" class="btn btn-primary">Ver Inmuebles</a>
      </div>
    {%  else %}
    <div class="row">
        <aside class="col-lg-12">
    <div class="card">
    <h2 class="text-center">Tus Favoritos</h2>
    <table class="table table-borderless table-shopping-cart">
    <thead class="text-center">
    <tr class="small text-uppercase">
      <th scope="col" width="300">Inmueble</th>
      <th scope="col" width="300">Precio</th>
      <th scope="col" width="300">Detalles</th>
      <th scope="col" width="300">Delete</th>
    </tr>
    </thead>
    <tbody>


    {% for favorite_item in favorite_items %}
    <tr>
        <td>
            <figure class="itemside align-items-center">
                <div class="aside"><img src="{{ favorite_item.product.images.url }}" class="img-sm"></div>
                <figcaption class="info">
                    <a href="{{ favorite_item.product.get_url }}" class="title text-dark">{{ favorite_item.product.product_name }}</a>
                    <p class="text-muted small">{{ favorite_item.product.descripton }} </p>
                </figcaption>
            </figure>
        </td>

        <td>
            <div class="text-center">
                <var class="price">L.{{ favorite_item.sub_total }}</var>
            </div> <!-- price-wrap .// -->
        </td>

        <td>
          <div class="text-center">
              <a href="mailto:<nowiki> micasaya.social@gmail.com" class="btn btn-primary btn-block"> Hablar con el vendedor <i class="fas fa-phone"></i></a>
          </div> <!-- card-body.// -->
        </td>


        <td>
          <div class="text-center">
                <a href="{% url 'remove_favorite_item' favorite_item.product.id %}" class="btn btn-danger"> Eliminar <i class="fas fa-trash"></i></a>
          </div> <!-- card-body.// -->
        </td>


    </tr>
    {% endfor %}


    </tbody>
    </table>
    </div> <!-- card.// -->






    </div> <!-- row.// -->
    <!-- ============================ COMPONENT 1 END .// ================================= -->
    {%  endif %}
    </div> <!-- container .//  -->
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}
